<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsyMedia-About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='css/img/main_logo.png') }}" type="image/x-icon">
</head>
<body>
    <div class="main-about-page">
        <div class="main-container">
            <h1>About Us</h1>
            <div id="about" class="main-content">
                <div class="about-image">
                    <img src="/static/css/img/about-section-image.jpeg" alt="About Us">
                </div>
                <div class="about-text">
                    <p>Welcome to NewsyMedia, your trusted source for news translation and summarization. We are dedicated to breaking down language barriers and delivering concise news summaries that keep you informed, no matter where you are in the world.At NewsyMedia, we understand the importance of access to information, regardless of language. Our team of experts works tirelessly to provide accurate translations and succinct summaries of the latest news, making it easier for you to stay updated on global events.
                    Our mission is to bridge the communication gap and enable you to explore news from diverse sources, all in one place. Whether you're a news enthusiast, a student, or a professional, NewsyMedia is your one-stop solution for multilingual news content.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>